.map-img:hover{
  cursor:zoom-in;
}
#zoomModal .modal-dialog {
  width: 80%;
  max-width: none;
  text-align: center;
  img {
    width: 100%;
  }
  .modal-content{
    background-color:transparent;
    border:none;
    .modal-body{
      padding:0;
    }
    button.close {
      position: absolute;
      right: 10px;
      top: 5px;
      z-index: 9;
      width: 30px;
      height: 30px;
      font-size: 2.5rem;
      &:focus{
        outline:none;
      }
    }
  }
}